# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
*.iml

# Misc
*.log
*.lock
*.swp
*.DS_Store

# Android
/local.properties
/.gradle/
/build/
/captures/
/externalNativeBuild/

# iOS
Pods/
DerivedData/
Runner.xcworkspace/
